#Ignoriert den test-Ordner:
*tests/

#Konfigurationsdateien mit Geheimnissen: 
#Ignoriert API Keys (.env files contain API keys that need to remain secure and private)
*.env
*.env.local
.env.*
#Ignoriert .log Dateien (They provide information on the Operating System’s usage activities and errors, as well as a history of events that have taken place within the OS.)
*.log
*.log
*npm-debug.log*
*yarn-debug.log*
*yarn-error.log*
# Systemdateien
.DS_Store
# Python (Nur temporäre Dateien)
'__pycache__/
*.pyc

# IDEs (Enthält Benutzerspezifische Daten, kann in Projektarbeit zu Problemem führen)
.vscode/
.idea/